#show-overview {
  width: fit-content;
  padding: 5px;
  max-width: 1800px;
  margin-top: 10px;
}

.side-by-side {
  display: flex;
  justify-content: space-between;
  width: fit-content;
  padding: 5px;
}

#characterbarchart {
  border-right: #333 1px solid;
  margin-right: 5px;
}

.chart {
  width: fit-content;
  margin: 5px 0px;
}

#title {
  margin: 0px 0px 5px 0px;
  border-bottom: #333 1px solid;
  width: fit-content;
}

#tooltip {
  position: absolute;
  opacity: 0;
  background: #fff;
  box-shadow: 2px 2px 3px 0px rgb(92 92 92 / 0.5);
  border: 1px solid #ddd;
  padding: 2px 8px;
  width: 200px;
  font-size: smaller;
}
#extra-space {
  height: 40px;
}
.center-vertical {
  max-width: fit-content;
  margin-left: auto;
  margin-right: auto;
}
* {
  font-family: "Kode Mono", monospace;
  font-optical-sizing: auto;
}

p {
  font-size: small;
  margin: 4px 0px;
}
h3 {
  font-size: medium;
  margin: 4px 0px;
}
.footer {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: #333;
  color: white;
  text-align: center;
  padding: 5px;
  font-size: 12px;
}
